
body {
  overflow-x: hidden;
}
.features_heading {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 25px;
  font-size: 2rem !important;
  color: rgb(5, 5, 5);
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif !important;
}
/* banner  */
.yoga_btn {
  margin-left: 300px;
  margin-top: 20px;
  padding: 10px;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: #000;
  color: aliceblue;
  font-size: 1rem;
}

.yoga_btn a {
  text-decoration: none;
  color: #fff;
}
#yoga {
  margin: 0px;
  background-color: black;
  background-image: url("../images/yoga.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  width: 100%;
  text-align: center;
  color: black;
}
#yoga-text {
  padding-bottom: 100px;
  background-color: #000;
  opacity: 0.5;
}

#yoga div {
  display: flex !important;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 2px black;
  font-family: Black Jack, Arial, sans-serif;
  text-shadow: 1px 1px 1px rgb(100, 96, 96);
  font-size: 4em;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#yoga span {
  font-size: 1.2em;
  font-weight: bold;
}

.container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 80px;
}

.tabs {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 500px;
}

.tab {
  font-size: 16px;
  padding: 15px 60px;
  cursor: pointer;
}

.tab.active {
  background-color: rgb(114, 216, 219);
}
.content_heading {
  text-align: center;

  margin-bottom: 25px;
  font-size: 2rem !important;
  color: #1d1818;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif !important;
}
.content {
  width: 100%;
  height: 100vh;
  max-width: 800px;
  padding-top: 10px;
}

.content-item {
  display: none;
  padding: 50px;
  border: 1px solid #ccc;
}

.content-item.active {
  display: flex;
  justify-content: center;
}
